@media (max-width: 767px){
	    
	.timeline {
		left: 20px !important;
		margin-left: 0 !important;
		background-position: left top !important;
		width: 100% !important;
		z-index: 1 !important;
		margin-bottom: 330px !important;
	}


	.floatin {
		opacity: 1.0 !important;
		right: auto !important;
		left: 0 !important;
		margin-left: 100px !important;
		background-size: contain !important;
		width: 60% !important;
		z-index:2 !important;
		margin-right: 10px !important;
		box-sizing:border-box !important;
		-moz-box-sizing:border-box !important;
		-webkit-box-sizing:border-box !important;

	}

	.hvernig {
		padding: 12px;
	}

	.mappan-skref.floatin-text {
		padding-top: 30px;
		padding-left: 110px;
	
		left: 0px;
		opacity: 1.0;

	}

	h1 {
		font-size: 30px;
	}

	p {
		font-size: 15px;
	}

	.mappan-skref.floatin-3 {
		padding-top: 50px !important;
	}

	.mappan-skref.floatin-5 {
		padding-top: 50px !important;
	}

	.mappan-skref.floatin-6 {
		padding-top: 50px !important;
	}



	.floatin-text-6-container {
		position: relative;
	}



	.bullet-container {
		position: relative;
		left: auto;
		margin-left: auto;
	}

	//.floatin-text {
	//	margin-left: 0px !important;
	//	font-size: 20px !important;
	//	width: 100% !important;
	//	text-align: left !important;
	//	top: 0px !important;
	//	position: relative !important;
	//	margin-top: 20px;
	//}

	.six.columns.mappan-skref {
		//padding-left: 100px;
		text-align: left;
		
		//padding-top: 50px;
	}

	.timeline {
		background: url($images_url + 'timeline_part.png') 44px 0px repeat-y !important;
	}

	.with-bullet {
		//background: url($images_url + 'bullet-1.png') no-repeat;
		//display: block;
		//height: 75px;
		//width: 75px;
		//position: absolute;
		top: 75px;
		//left: 10px;
		//z-index: 3;
	}


	//.table {
	//	margin: 0 10px;
	//} 
	.table p {
		padding: 16px 30px 0px;
	}
	.green-button {
		margin: 20px auto;
	}
	.mappan-skref.floatin-6 {
		padding-top: 100px;
		margin-bottom: -310px;
	}

	.floatin-6-text {
		position: absolute;
		margin-top: 300px;
		text-align: left;
		font-size: 20px;
		padding-left: 0px;
		padding-top: 0px;
	}
}

@media (max-width: 580px){
	.mappan-skref.floatin-6 { margin-bottom: -230px; }
	.floatin-6-text { margin-top: 230px; }
}


@media (max-width: 430px){
	.mappan-skref.floatin-6 { margin-bottom: -170px; }
	.floatin-6-text { margin-top: 170px; }
}